
@{
    ViewBag.Title = "sayfayok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "StoreEdy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-xl-12 col-lg-12 mt-2">
    <div class="alert alert-light" role="alert">
        @*<span class="alert-inner--icon"><i class="fas fa-info"></i></span>*@
        <span class="alert-inner--text"><strong>Bilgilendirme!</strong><br /> Bu sayfa sonraki güncellemelerde eklenecektir. </span>
    </div>
</div>


<div class="row">

</div>



